.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

.signup form h2 {
  color: white;
  text-align: center;
  width: 100%;
}

.signup form label {
  color: rgb(171, 171, 171);
}

.signup form {
  background-color: black;
  color: white;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 25%;
  box-shadow: 0px 0px 12px 3px #525252;
}
.signup form input,
.signup form textarea {
  margin: 1em 0;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  border: none;
  padding: 0.5em 0.5em;
  color: white;
}
.signup form button {
  padding: 0.5em 1em;
  color: white;
  background-color: #1976d2;
  border: none;
  /* align-self: center; */
  align-self: flex-end;
  margin: 1em 0 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.signup form button:hover {
  background-color: #3f89d3;
}
